* { margin: 0; padding: 0; }
p { margin: 0px 0 0px 0; }

html{ background-color: gray;
    width: 1024px;
	margin: 0 auto;
	}
.logo{float:left; 
	padding: 10px 10px 0px 10px;
    }
.board {background-color: white;
	padding: 5px;
	border-radius: 15px;
     }	
header{font-family:times new roman;
	font-size:16pt;
	text-align: start;
	}
nav {text-align: start;
	margin: 0 0 5px 200px;
    }	
.main {display: inline-block;
    }
li ul {position: absolute; 
    display: none; 
     }
li:hover ul { 
	  position: absolute;
	  text-align: start;
	  padding: 5px;
      display: block; 
	  background-color: white;
      width: 100px;
      border: 2px solid black;
	  border-radius: 5px;
	  list-style: none
     }
h1 {margin: 20px 0;}
div{font-family:arial;
	text-align: justify;
	font-size:15pt;
	}
span.flor {text-align: center;
	font-size:13pt;
    }
.wt {margin: 0 0 0 50px;
	} 
aside {display: block;
	  background-color: silver;
      width: 280px;
      border: 0px solid black;
	  border-radius: 15px;
	  float:right;
	  padding: 10px 10px 10px 10px;
	  margin: 5px 5px;
	  font-family:times new roman;
	  font-size:13pt;
	 }
h3 {	  font-size:18pt;
	  margin: 20px 0px;
	}	 
h3.asd {font-family: times new roman;
	  font-size:16pt;
	  margin: 10px 0px;
	}	 
aside  p:first-letter {
	  font-size:14pt;
    }
nav.tp {margin: 0; padding: 0;
	}
input.val {font-size:14pt;
	}
table {display: inline-block;
	margin-left: 30%;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid white;
	}
.inp{width: 312px;
	height:30px;
	border-radius: 2px;
	margin: 2px 2px 2px 2px;
	}
.btntp1{width: 60px;
		height:30px;
		border-radius: 2px;
		margin: 2px 2px 2px 2px;
	}
.btntp2{width: 60px;
		height:64px;
		border-radius: 2px;
		margin: 2px 2px 2px 2px;
	}
.btntp3{width: 120px;
		height:30px;
		border-radius: 2px;
		margin: 2px 2px 2px 2px;
	}
	